@charset "UTF-8";
/*
Theme Name: Leede
Theme URI: http://leede.ca/wp-content/themes/leede
Description: A child theme of Bridge Theme
Author: Qode Interactive
Author URI: http://www.qodethemes.com/
Version: 1.0.0
Template: bridge
*/
@import url("../bridge/style.css");

/*** HEADER ***/

nav.main_menu.right {
	margin-right: -15px;
}
.q_logo a {
	max-height: 75px !important;
	min-height: 75px;
	overflow: hidden;
}
.breadcrumb a:hover {
	color: #3D6399;
}
.breadcrumb {
	margin-top: 15px;
}
@media only screen and (max-width: 600px) {
	.breadcrumb {
		margin-bottom: -100px;
	}
}
li#menu-item-5498 a {
	font-family: roboto, arial, sans-serif;
	font-size: 13px;
	color: #bf9926;
	letter-spacing: .5px;
	font-weight: 500;
	text-transform: none;
	padding: 2px 10px 2px 10px;
	background-color: #bf9926;
	color: #fff;
	border-radius: 5px;
	margin-top: 10px;
	margin-right: -15px;
}
li#menu-item-5498 a:hover {
	background-color: #cfa629 !important;
	color: #fff !important;
}
li#menu-item-7199 a {
	font-family: roboto, arial, sans-serif;
	font-size: 13px;
	color: #bf9926;
	letter-spacing: .5px;
	font-weight: 500;
	text-transform: none;
	padding: 2px 10px 2px 10px;
	background-color: #bf9926;
	color: #fff;
	border-radius: 5px;
	margin-top: 10px;
	margin-right: -15px;
}
li#menu-item-7199 a:hover {
	background-color: #cfa629 !important;
	color: #fff !important;
}
li#menu-item-7089-fr a {
	font-family: roboto, arial, sans-serif;
	font-size: 13px;
	color: #555;
	letter-spacing: .5px;
	font-weight: 500;
	text-transform: none;
	margin-top: 12px;
	margin-right: 25px;
}
li#menu-item-7198-en a {
	font-family: roboto, arial, sans-serif;
	font-size: 13px;
	color: #555;
	letter-spacing: .5px;
	font-weight: 500;
	text-transform: none;
	margin-top: 12px;
	margin-right: 25px;
}
.tagline {
	font-family: roboto, arial, sans-serif;
	font-size: 13px;
	color: #999;
	letter-spacing: .5px;
	font-weight: 500;
	margin-top: 6px;
	margin-right: 70px;
}
@media only screen and (max-width: 900px) {
	.tagline {
		display: none;
	}
}
.header_top {
	min-height: 40px;
}
.title_subtitle_holder > h1, .title_subtitle_holder > .separator {
	display: none;
}
.container {
	padding-bottom: 25px;
}
.mobile_menu_button {
	margin-left: 15px;
}
@media only screen and (max-width: 320px) {
	.mobile_menu_button {
		margin-left: 10px;
	}
}
/*** ADVISOR DIRECTORY (CONNECTIONS) ***/

.cn-category-select {
	display: none;
}
.chosen-single {
	display: none !important;
}
.chosen-default {
	display: none !important;
}
.cn-list-head {
	float: left;
	margin: 25px 0px 0px 0px;
}
.cn-search {
	margin: 0px 0px -25px 0px !important;
}
#cn-slim-plus h3 {
	border-bottom: 1px solid #ccc !important;
	padding-bottom: 5px !important;
	margin-bottom: 5px !important;
	text-transform: capitalize;
	letter-spacing: .3px;
}
#cn-slim-plus h3 a {
	color: #4774b3 !important;
	font-size: 1.1em;
	font-weight: 500 !important;
}
#cn-slim-plus h3 a:hover {
	color: #4180d9 !important;
}
.cn-sprite {
	display: none !important;
}
#cn-slim-plus .title {
	font-size: 1.1em;
	margin-bottom: -10px !important;
	margin-top: 5px !important;
	letter-spacing: 0.3px;
	font-weight: 500 !important;
	border: 0px
	
}
@media only screen and (min-width: 900px) {
	#cn-slim-plus .title {
		margin-bottom: -60px !important;
		line-height: 1.1em !important;
	}
}
@media only screen and (max-width: 900px) {
	#cn-slim-plus .title {
		margin-top: -15px !important;
		line-height: 1.1em !important;
	}
}
.cn-right {
	font-size: 1.4em;
	line-height: 1.5em;
	width: 100% !important;
}
.email-name, .phone-name, .link-name, .cn-entry-meta-key {
	font-weight: 500 !important;
	color: #333;
}
.cn-entry-content-block-meta h3 {
	display: none !important;
}
ul.cn-entry-meta {
	list-style-type: none !important;
}
#cn-slim-plus h5 {
	margin-top: 20px !important;
	margin-bottom: 0px !important;
	font-size: 1.1em !important;
	text-transform: capitalize;
	letter-spacing: 0.3px;
	font-weight: 500;
}
.cn-biography p {
	font-size: 1em;
	line-height: 1.45em;
	margin-top: 10px !important;
}
.cn-image-none {
	display: none !important;
}
div.cn-left {
	float: none !important;
}
.cn-left a {
	display: none !important;
}
span.cn-image-style {
	background-color: #f5f6f7 !important;
}
span.email-address a {
	color: #4774b3 !important;
}
span.email-address a:hover {
	color: #4180d9 !important;
}
.advisor-name {
	font-size: 1.1em;
	color: #4774b3;
	letter-spacing: 0.3px;
	font-weight: 500;
	font-family: roboto, arial, sans-serif;
}
.advisor-title {
	font-size: 1em;
	color: #333;
	font-weight: 500;
	font-family: roboto, arial, sans-serif;
	margin-top: 5px;
}
.advisor-contacts {
	margin-top: 20px;
	font-size: .95em;
	color: #333;
	font-weight: 400;
	font-family: roboto, arial, sans-serif;
	line-height: 1.6em;
}
/*** SPACERS ***/

.phonespace1 {
	padding-left: 49px;
}
.phonespace2 {
	padding-left: 5px;
}
.phonespace3 {
	padding-left: 60px;
}
.phonespace4 {
	padding-left: 14px;
}
.q_masonry_blog {
	margin-bottom: 0px;
}
.story {
	padding-right: 30px;
}
@media only screen and (max-width: 600px) {
	.story {
		padding-right: 0px;
	}
}
.spaced {
	padding: 15px 0px 0px 0px;
	color: #3D6399;
}
.spaced-more {
	padding: 35px 0px 0px 0px;
	color: #3D6399;
}
@media only screen and (max-width: 736px) {
	.advisors-spaces {
		display: none;
	}
}
/*** TYPOGRAPHY ***/

strong {
	font-weight: 600 !important;
}
.phonelabel {
	color: #3D6399;
}
.sans {
	font-family: roboto, arial, sans-serif;
}
.directory {
	font-family: roboto, arial, sans-serif;
	line-height: 2em;
	margin-top: 10px;
}
.directory a {
	color: #3D6399;
}
.directory a:hover {
	color: #2B74D9;
}
.directory-heading {
	color: #444;
}
.hero {
	font-family: 'roboto slab', georgia, serif;
	color: #333;
	font-size: 2em;
	font-weight: 500;
	background-color: #fff;
	opacity: .7;
	padding: 15px;
}
@media only screen and (max-width: 600px) {
	.hero {
		font-size: 2em;
	}
}
.tile {
	line-height: .8em;
}
.tile-text {
	color: #333;
	width: 90%;
}
.tile-text a:hover {
	color: #333;
}
.q_masonry_blog_title a {
	color: #3D6399;
	font-size: .9em;
	line-height: 1em !important;
	font-weight: 500;
}
.q_masonry_blog_title a:hover {
	color: #5284CC;
}
ul li {
	font-family: 'roboto slab', georgia, serif;
	line-height: 1.65em;
}
.biog {
	font-family: roboto, arial, sans-serif;
	line-height: 1.6em;
	font-size: .9em;
	color: #333;
}
.column1 {
	margin-top: 50px;
}
.footer_col1 {
	margin-top: 0px;
}
.ordered {
	margin-top: 20px;
}
.ordered li {
	font-family: roboto, arial, sans-serif;
	margin-bottom: 5px;
	font-size: 1em;
	color: #555;
}
.rordered {
	margin-top: 20px;
}
.reordered li {
	font-family: "roboto slab", georgia, serif;
	margin-bottom: 5px;
	font-size: 1em;
	color: #333;
}
.plain-list {
	list-style-type: none;
	margin-top: 15px;
}
.plain-list li {
	font-family: roboto, arial, sans-serif;
	margin-bottom: 1px;
	font-size: 1em;
	color: #B38F23;
}
.plainer-list {
	list-style-type: circle;
	list-style-position: outside;
}
.plainer-list li {
	font-family: "roboto slab", georgia, serif;
	margin-bottom: 15px;
	font-size: 1em;
	color: #333;
	line-height: 1.5em;
}
.intro {
	font-family: roboto, arial, sans-serif;
	font-size: 1.1em;
	line-height: 1.6em;
	color: #444;
	padding-right: 30px;
}
.white {
	font-family: 'roboto slab', georgia, serif;
	color: #fff;
	font-size: 2.2em;
	font-weight: 500;
	line-height: 1.2em;
	padding-top: 180px;
}
.home-bullet {
	list-style-type: circle;
	margin-left: 25px;
}
.home-bullet li {
	font-family: roboto, arial, sans-serif;
	margin-bottom: 1px;
	font-size: 1em;
	color: #333;
}
.advice-bullet {
	list-style-type: circle;
	margin-top: -15px;
}
.advice-bullet li {
	font-family: "roboto slab", georgia, serif;
	font-size: 1em;
	color: #333;
}
/*** FOOTER ***/

#nav_menu-5 {
	margin-top: 15px;
}
#nav_menu-7 {
	margin-top: 15px;
	line-height: 3px;
}
#nav_menu-7 li a {
	line-height: 1.4em;
}
.disclaimer {
	font-family: roboto, arial, sans-serif;
	line-height: 2em;
	margin-top: 30px;
	font-size: .7em;
	color: #777;
	line-height: 1.7em;
	max-width: 300px;
}
.copyright {
	font-family: roboto, arial, sans-serif;
	line-height: 2em;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: .7em;
	color: #777;
}
.cipf {
	margin-top: 20px;
}
.iiroc {
	margin-top: 40px;
}
/*** ADVISOR RECRUITING PAGE ***/

.ljg-bullets li {
	font-family: 'roboto slab', georgia, serif !important;
	text-align: left;
	text-indent: -1.1em;
	padding: 0px 0px 15px 19px;
}
#fbuilder {
	font-family: 'roboto slab', georgia, serif !important;
	font-size: .8em;
}
.cp_cff_minimalist #fbuilder .fform h2 {
	font-family: roboto, arial, sans-serif !important;
	color: #fff !important;
	text-transform: none;
	font-size: 1.4em !important;
}
.cp_cff_minimalist #fbuilder .fform {
	background: #4C7CBF !important;
}
.cp_cff_minimalist #fbuilder input[type="text"] {
	font-family: roboto, arial, sans-serif !important;
	font-size: 1.4em !important;
	color: #555;
}
.cp_cff_minimalist #fbuilder input[type="number"] {
	font-family: roboto, arial, sans-serif !important;
	font-size: 1.4em !important;
	color: #555;
}
#fieldname4_1 {
	color: #4C7CBF !important;
}
#fieldname5_1 {
	color: #4C7CBF !important;
}
.separator-clear {
	clear: both;
	margin: 20px 0px 20px 0px;
}
.payouts {
	font-family: roboto, arial, sans-serif !important;
	font-size: 1em !important;
	margin: 20px 0px 20px 0px;
	list-style-type: none;
}
.payouts li {
	padding-bottom: 8px;
}
/*** TABLES ***/

#tablepress-1_filter {
	margin-bottom: 20px;
}
.tablepress-1 .column_3 {
	margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
	.tablepress-1 .column_3 {
		width: 100px;
	}
}
.post_info {
	display: none !important;
}
.tablepress thead th {
	background-color: #3D6399;
	color: #fff;
}
.tablepress .odd td {
	background-color: #EBF3FF;
}
.tablepress .row-hover tr:hover td {
	background-color: #fafbfc;
}
#continuityplan td {
	text-align: left !important;
	padding-right: 50px;
}
#continuityplan th {
	text-align: left !important;
	padding-right: 50px;
}
#continuityplan {
	margin-bottom: 30px !important;
}
/*** CONTACT FORM ***/

div.wpcf7-response-output.wpcf7-mail-sent-ok {
	background-color: #bf9926 !important;
	text-transform: none;
	line-height: 1.2em;
	letter-spacing: .5px;
}
div.wpcf7-response-output.wpcf7-validation-errors {
	background-color: #777;
	text-transform: none;
	line-height: 1.2em;
	letter-spacing: .5px;
}
/*** BLOG ***/

.date {
	display: none !important;
}
/**========= CLIENT DASHBOARD =========**/

.page-template-client-page *:not(i) {
	font-family: 'Roboto', sans-serif;
}
.page-template-client-page .content {
	padding-left: 15px;
	padding-right: 15px;
}
.page-template-client-page nav.lj-client-navigation > ul:first-child {
	margin-top: 13px;
}
.page-template-client-page nav.lj-client-navigation ul {
	margin-bottom: 0;
}
.page-template-client-page nav.lj-client-navigation ul li {
	padding: 3px 0;
}
.page-template-client-page nav.lj-client-navigation > ul > li:nth-child(2) {
	padding: 0;
}
.page-template-client-page nav.lj-client-navigation a {
	font-size: 18px;
	font-weight: 500;
	position: relative;
}
.page-template-client-page nav.lj-client-navigation > ul > li > ul > li a {
	font-weight: 400;
}
.page-template-client-page nav.lj-client-navigation a.nav-active::before {
	content: '\f105';
	font-family: 'FontAwesome';
	position: absolute;
	left: -16px;
}
.page-template-client-page button {
	padding: 12px 20px;
	border: 1px solid #3d6399;
	margin-top: 0;
	transition: all .25s ease-in-out;
}
.page-template-client-page button:hover {
	background-color: transparent;
	color: #3d6399;
}
.page-template-client-page .control-wrap {
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
}
.page-template-client-page .control-wrap p {
	margin-top: 0;
}
.page-template-client-page .control-wrap p a {
	border-right: 1px solid #4774b3;
	margin-right: 4px;
	padding-right: 4px;
	font-size: 14px;
}
.page-template-client-page .control-wrap p:last-child a {
	border-right: none;
}
.page-template-client-page .welcome-wrapper article h3 {
	margin-top: 15px;
}
.page-template-client-page .welcome-wrapper article p {
	margin-top: 5px;
}
.header-widget.widget_nav_menu {
	padding-right: 0 !important;
}
.lj-login-wrapper,
.lj-login {
	display: flex;
	flex-flow: row;
	flex-wrap: nowrap;
}
.lj-login-wrapper {
	margin-left: 55px;
}
.lj-btn {
	font-family: roboto, arial, sans-serif;
	font-size: 13px;
	color: #bf9926;
	letter-spacing: .5px;
	font-weight: 500;
	text-transform: none;
	padding: 3px 10px 3px 10px;
	background-color: #bf9926;
	color: #fff;
	border-radius: 5px;
	margin-top: 10px;
	margin-left: 5px;
	line-height: 1.65em;
}
.lj-btn:hover {
	background-color: #cfa629 !important;
}
.lj-btn a {
	color: white !important;
}
.lj-btn:hover a {
	color: white !important;
}
.switch-lang a {
	font-family: roboto, arial, sans-serif;
	font-size: 13px;
	color: #555;
	letter-spacing: .5px;
	font-weight: 500;
	text-transform: none;
	margin-top: 12px;
	margin-right: 25px;
}
.switch-lang a:hover {
	color: #3d6399;
}
.lj-login-wrapper {
	align-items: center;
	margin-top: 0px;
}
.lj-login-wrapper .lj-login a {
	border: 1px solid #bf9926;
	margin-top: 0;
	transition: all .25s ease-in-out;
}
.lj-login-wrapper .lj-login a:hover {
	background-color: transparent !important;
	color: #bf9926;
}
header .header_top .container {
	background-color: #fff;
	padding-bottom: 0;
	margin-bottom: 25px;
}
header .header_top .container .right {
	margin-top: 8px;
}
.page-template-client-page .doxim-nav {
	margin-top: 27px;
}
.page-template-client-page .doxim-nav li {
	text-align: center;
	border-right: 2px solid #4774b3;
}
.page-template-client-page .doxim-nav li:last-child {
	border-right: none;
}
.page-template-client-page .doxim-nav li a {
	width: 100%;
	display: block;
	padding: 9px;
	box-sizing: border-box;
}
.page-template-client-page.page-id-7543 form {
	margin-top: 25px;
}
.page-template-client-page.page-id-7543 form > div {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}
.page-template-client-page.page-id-7543 form > div > * {
	margin-right: 4px !important;
	margin-left: 4px !important;
}
.page-template-client-page.page-id-7543 form > div select {
	border: 1px solid #4774b3;
	background-color: #eee;
	color: #4774b3;
	box-shadow: none;
	border-radius: 5px;
	font-size: 18px;
	padding: 7px 5px;
	padding-right: 30px;
	height: auto;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url('/wp-content/themes/leede/images/lj-arrow.jpg');
	background-size: 12px;
	background-position: 93% 50%;
	background-repeat: no-repeat;
}
.page-template-client-page.page-id-7543 form > div select:hover {
	cursor: pointer;
}
.page-template-client-page.page-id-7543 form > div select:focus {
	outline: none;
}
.page-template-client-page.page-id-7543 form > div input[type="submit"] {
	padding: 12px 40px;
	border: 1px solid #3d6399;
	margin-top: 0;
	background-color: #3d6399;
	border-radius: 7px;
	color: #fff;
	font-size: 18px;
	margin-bottom: 20px;
	transition: all .25s ease-in-out;
}
.page-template-client-page.page-id-7543 form > div input[type="submit"]:hover {
	background-color: transparent;
	color: #3d6399;
	cursor: pointer;
}
.page-template-client-page.page-id-7541 .welcome:nth-child(2) {
	margin-top: 19px;
}
.page-template-client-page.page-id-7541 form fieldset {
	margin-bottom: 15px;
}
.page-template-client-page form fieldset input, .page-template-client-page form select {
	border: 1px solid #4774b3;
	background-color: #eee;
	color: #4774b3;
	box-shadow: none;
	border-radius: 5px;
	font-size: 18px;
	padding: 7px 5px;
	padding-right: 30px;
	height: auto;
}
.page-template-client-page form fieldset input {
	max-width: 300px;
	width: 100%;
}
.page-template-client-page form select {
	vertical-align: initial;
	padding: 6px 5px;
	margin-right: 10px !important;
}
.page-template-client-page form.lj-login-form select, .page-template-client-page form.lj-login-form input {
	max-width: 300px;
	width: 100%;
}
.page-template-client-page form input[type="submit"] {
	padding: 8px 20px;
	border: 1px solid #3d6399;
	margin-top: 0;
	height: auto;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	transition: all .25s ease-in-out;
	background: #3d6399;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	max-width: initial;
	width: auto;
}
.page-template-client-page form input[type="submit"]:hover {
	cursor: pointer;
	background-color: transparent;
	color: #3d6399;
}
.page-template-client-page .wpum-action-links {
	margin-top: 10px;
}
.page-template-client-page.page-id-7541 form input[type="submit"]:hover {
	background-color: transparent;
	color: #3d6399;
}
/*.page-template-client-page table {
	overflow-x: auto;
	display: block;
	width: fit-content;
	max-width: 100%;
}*/

.page-template-client-page table thead tr {
	background-color: #3d6399;
	color: #fff;
}
.page-template-client-page table tr td {
	padding: 7px 20px !important;
	text-align: left;
}
.page-template-client-page table tr td a {
	padding: 0;
}
.page-template-client-page table tbody tr {
	border-bottom: 2px solid #3d6399;
}
.page-template-client-page table tbody tr:nth-child(2n) {
	background-color: #ccc;
}
.page-template-dashboard-page .client-dash-wrap > .full_section_inner {
	display: flex;
}
.page-template-client-page .title_outer, .page-template-dashboard-page .title_outer {
	display: none;
}
.page-template-dashboard-page .container.yyet .container_inner {
	padding-top: 0;
}
.page-template-dashboard-page .container.yyet {
	padding-bottom: 0;
}
.page-template-dashboard-page .client-dash-bg {
	padding-top: 50px;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#192831+0,203239+100 */
	background: #192831; /* Old browsers */
	background: -moz-linear-gradient(left, #192831 0%, #203239 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #192831 0%, #203239 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #192831 0%, #203239 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#192831', endColorstr='#203239', GradientType=1); /* IE6-9 */
	
}
.page-template-dashboard-page .client-dash-wrap > .full_section_inner .vc_column-inner,
.page-template-dashboard-page .client-dash-wrap > .full_section_inner .wpb_wrapper,
.page-template-dashboard-page .client-dash-wrap > .full_section_inner .wpb_text_column,
.page-template-dashboard-page .client-dash-wrap > .full_section_inner .client-dash-bg {
	height: 100%;
}
.page-template-dashboard-page .client-dash-bg .welcome-wrap h2, .page-template-dashboard-page .client-dash-bg .welcome-wrap p {
	color: #fff;
	font-family: 'roboto slab', georgia, serif;
}
.page-template-dashboard-page .welcome-wrap {
	margin-top: 100px;
	padding-left: 60px;
	padding-bottom: 100px;
}
.page-template-dashboard-page .welcome-wrap h2 {
	font-weight: 400;
	font-size: 34px;
	line-height: 38px;
}
.page-template-dashboard-page .welcome-wrap p {
	margin-top: 42px;
	font-size: 22px;
	font-weight: 400;
	margin-bottom: 75px;
}
.page-template-dashboard-page .welcome-wrap a {
	font-size: 14px;
	font-family: "Roboto", sans-serif;
	color: #fff;
}
.page-template-dashboard-page .welcome {
	padding-top: 50px;
	padding-bottom: 25px;
}
.page-template-dashboard-page .welcome .welcome-wrapper {
	display: block;
}
.page-template-dashboard-page .welcome .welcome-wrapper article {
	width: 100%;
}
.page-template-dashboard-page .welcome .welcome-wrapper article:first-child {
	margin-bottom: 35px;
}
.page-template-dashboard-page .welcome .welcome-wrapper article ul {
	list-style-type: none;
	margin-left: 15px;
}
.page-template-dashboard-page .welcome .welcome-wrapper article a, .page-template-dashboard-page .welcome .welcome-wrapper article a h3 {
	font-family: 'Roboto', sans-serif;
	color: #555555;
}
.page-template-dashboard-page .welcome .welcome-wrapper article a:hover, .page-template-dashboard-page .welcome .welcome-wrapper article a:hover h3 {
	color: #4774b3;
}
.page-template-dashboard-page .welcome .welcome-wrapper article h3 {
	margin-top: 20px;
}
.page-template-client-page .doxim-form input {
	margin-top: 20px;
}
.page-template-client-page .doxim-form input[type="submit"] {
	margin-top: 20px;
	margin-bottom: 20px;
}
.page-template-client-page .container.yyet .container_inner {
	padding-top: 50px;
}
.page-template-client-page form fieldset {
	margin-bottom: 15px;
	line-height: 2em;
}
.page-template-client-page form .note {
	display: block;
	font-size: 14px;
}
.page-id-7545 .container_inner h1 {
	width: 50%;
	margin: 0 auto;
}
@media screen and (max-width: 1000px) {
	
	.page-template-client-page .doxim-nav {
		display: block;
	}
	.page-template-client-page .doxim-nav li {
		border-right: none;
		margin-bottom: 15px;
		width: 100%;
	}
}
@media screen and (max-width: 900px) {
	
	header .header_top .container .right {
		text-align: right;
	}
	
}
@media screen and (max-width: 767px) {
	.page-template-client-page .welcome-wrapper, .page-template-dashboard-page .client-dash-wrap .full_section_inner {
		display: block;
	}
	.page-template-client-page .welcome-wrapper article {
		width: 100%;
		margin-bottom: 15px;
	}
	.page-template-client-page .full_section_inner {
		display: flex;
		flex-wrap: wrap;
	}
	.page-template-client-page .full_section_inner .wpb_column:first-child {
		order: 2;
	}
	.page-template-client-page .full_section_inner .wpb_column:last-child {
		order: 1;
	}
	.page-template-client-page nav.lj-client-navigation {
		border-top: 2px solid #3d6399;
	}
	.page-template-client-page .breadcrumb {
		position: relative;
	}
}
@media screen and (max-width: 480px) {
	
	header .header_top .container .right {
		text-align: center;
	}
	
}
@media screen and (max-width: 355px) {
	
	.page-template-client-page .control-wrap {
		display: block;
	}
	.page-template-client-page .control-wrap p a {
		border-right: none;
	}
	.page-template-client-page .control-wrap p {
		margin-bottom: 5px;
	}
	.page-template-client-page .control-wrap p:last-child {
		margin-bottom: 15px;
	}
}
/**/
.content {
	margin-top: 0;
}
.header_top {
	height: auto;
}
.header_top_bottom_holder::after,
.header_top_bottom_holder::before {
	content: '';
	display: table;
}
.header_top_bottom_holder::after {
	clear: both;
}
.header .container_inner .header_inner_left {
	position: static;
}
.q_logo {
	top: 0;
}
.q_logo a {
	visibility: visible;
}
.q_logo img {
	position: static;
	max-height: 75px;
}
.leede-form fieldset {
	margin-bottom: 15px;
	padding-bottom: 0;
}
.leede-form fieldset::before,
.leede-form fieldset::after {
	content: '';
	display: table;
}
.leede-form fieldset::after {
	clear: both;
}
.leede-form input,
.leede-form select {
	border: 1px solid #4774b3;
	background-color: #eee;
	color: #4774b3;
	box-shadow: none;
	border-radius: 5px;
	font-size: 18px;
	padding: 7px 5px;
	height: auto;
	margin: 0;
	vertical-align: middle;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 300px;
}
.leede-form select {
	padding-right: 30px;
}
.leede-form .button,
.leede-form input[type="submit"],
.leede-form button {
	padding: 8px 20px;
	border: 1px solid #3d6399;
	height: auto;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	transition: all .25s ease-in-out;
	background: #3d6399;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	max-width: initial;
	width: auto;
	display: table;
	margin-top: 15px;
	line-height: 22px;
}
.leede-form .other-code {
	font-weight: 700;
	color: #000000;
	text-decoration: underline;
}
.leede-form .inline-form {
	display: inline;
}
.leede-form .inline-form button {
	background-color: transparent;
	border: none;
	color: #3d6399;
	text-decoration: underline;
	padding: 0;
	margin: 0;
	display: inline;
}
.leede-form label {
	display: block;
}
.leede-form label.label-pl {
	padding-left: 12px;
	box-sizing: border-box;
	padding-left: 0;
}
.leede-form .required {
	color: red;
	display: none;
}
/*register-step1*/
.leede-form label {
	float: left;
	min-width: 120px;
}
.leede-form .field {
	overflow: hidden;
}
.leede-form .field input[name="address2"] {
	margin-top: 15px;
	display: flex;
}
.leede-form button {
	margin-top: 20px;
}
.leede-form .notice {
	margin-bottom: 25px;
}
.leede-form .error {
	font-size: 15px;
	color: red;
	display: block;
}
.leede-form .error:first-letter {
	text-transform: uppercase;
}
.leede-form span.error {
	margin-top: 5px;
}
.leede-form .error:empty {
	display: none;
}
.leede-form .box {
	border: 1px solid #ccc;
	padding: 20px;
}
.leede-form button + .box {
	margin-top: 30px;
}
.leede-form .box-phone .send-wrap-link {
	margin-left: 30px;
	text-decoration: underline;
}
.leede-form .box-phone.active .code-wrap,
.leede-form .box-phone .code-wrap + .send-wrap {
	display: none;
}
.leede-form .box-phone.active .code-wrap + .send-wrap {
	display: block;
}
.leede-form .cellphone-number {
	font-size: 22px;
	color: #AAA;
}
.leede-form .cellphone-number input {
	width: 54px;
}
.leede-form .cellphone-number input:last-child {
	width: 80px;
}
.leede-form .cellphone-number span::before {
	content: '';
	width: 14px;
	height: 1px;
	background-color: #797979;
	display: inline-block;
	vertical-align: middle;
}
.leede-form .cellphone-code input {
	width: 172px;
}
.leede-form .cellphone-code span::before {
	content: '';
	width: 14px;
	height: 1px;
	background-color: #797979;
	display: inline-block;
	vertical-align: middle;
}
/*register-step1*/
.leede-form .register_step1 a {
	text-decoration: underline;
}
/*register-step2*/
.leede-form .register_step2 label {
	min-width: 225px;
}
.leede-form .register_step2 h3 {
	margin-bottom: 20px;
	color: #aaa;
}
.leede-form .register_step2 fieldset + h3 {
	padding-top: 20px;
	border-top: 1px solid #ccc;
	margin-top: 40px;
}
.leede-form .register_step2 #address_lookup {
	font-style: italic;
	font-size: 14px;
	color: #000;
	height: 38px;
}
.leede-form .wpum-login-form + .wpum-action-links {
	display: none;
}
.leede-form .wpum-login-form {
	width: 100%;
}
.wpum-form fieldset label .wpum-required {
	float: left;
	padding-right: 3px;
	display: none;
}
.table-form {
	display: table;
	width: 100%;
}
.table-form .cell-form {
	display: table-cell;
	width: 50%;
}
.table-form .cell-form h1 {
	padding-bottom: 15px;
	margin-bottom: 30px;
	position: relative;
}
.table-form .cell-form h1::before {
	content: '';
	border-bottom: 1px solid #ccc;
	position: absolute;
	left: 0;
	bottom: 0;
	right: -25px;
}
.table-form .cell-form:first-child {
	padding-right: 25px;
}
.table-form .cell-form:last-child {
	border-left: 1px solid #ccc;
	padding-left: 25px;
}
.table-form .cell-form:last-child h1::before {
	left: -25px;
	right: 0;
}
.table-form h3 {
	margin-bottom: 10px;
}
.table-form .box {
	margin-bottom: 30px;
}
.table-form .box strong {
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
}
.leede-form .wpum-login-form .button,
.leede-form .wpum-login-form ~ .forgot-password,
#leede-login-form .error,
#leede-login-form .button,
#leede-login-form ~ .error,
#leede-login-form ~ .forgot-password {
	margin-left: 120px !important;
}
#leede-login-form label::before {
	content: '* ';
	color: red;
}
/*change password*/
.leede-form .change_password_form label {
	min-width: 225px;
}
.leede-form .change_password_form button,
.leede-form .change_password_form .button {
	display: inline-block;
	margin-right: 15px;
}
/*forgot_password_form*/
.leede-form .forgot_password_step3 label {
	min-width: 200px;
}
/*leede-manage-profile*/
.leede-manage-profile a.active {
	text-decoration: underline;
}
.leede-manage-profile h2 {
	font-size: 20px;
	margin-top: 9px;
}
.leede-container {
	overflow: hidden;
}
.leede-container .leede-col-3 {
	float: left;
	width: 25%;
	padding-right: 20px;
	box-sizing: border-box;
}
.leede-container .leede-col-9 {
	float: left;
	width: 75%;
	box-sizing: border-box;
}
.welcome-wrapper .welcome_roundel img {
	max-width: 45px;
}
@media (max-width: 1199px) {
	.leede-form h1 {
		font-size: 28px;
	}
}
@media (max-width: 991px) {
	.leede-container .leede-col-3,
	.leede-container .leede-col-9 {
		width: 100%;
		padding-left: 0;
	}
	.table-form,
	.table-form .cell-form {
		display: block;
		width: 100%;
	}
	.table-form .cell-form:first-child,
	.table-form .cell-form:last-child {
		border: none;
		padding: 0;
	}
	.table-form .cell-form h1 {
		padding-bottom: 0;
	}
	.table-form .cell-form h1::before {
		display: none;
	}
}
@media (max-width: 767px) {
	.leede-form label,
	.leede-form .register_step2 label,
	.leede-form .change_password_form label,
	.leede-form .forgot_password_step3 label {
		min-width: 0;
		float: none;
		margin-bottom: 5px;
	}
	.leede-form h1 {
		font-size: 24px;
	}
	.leede-form .wpum-login-form .button,
	.leede-form .wpum-login-form ~ .forgot-password,
	#leede-login-form .error,
	#leede-login-form .button,
	#leede-login-form ~ .error,
	#leede-login-form ~ .forgot-password {
		margin-left: 0 !important;
	}
}
/**/
.transparent_content .content .container.page-logout-complete {
	background-color: #fff !important;
	padding: 60px 0;
}
.transparent_content .content .container.page-logout-complete p {
	color: #D9001B;
	font-size: 14px;
}
