.error {
	color: red;
	display: block;
}
.error.hidden {
	display: none;
}
span.error {
	margin-top: 4px;
}
.error:first-letter {
	text-transform: capitalize;
}
button.download {
	background-color: transparent;
	border: none;
	text-decoration: underline;
	color: #006799;
	cursor: pointer;
}
.form-test > tbody > tr > td,
.form-test > tbody > tr > th {
	font-size: 13px;
}
.form-test > tbody > tr > th {
	vertical-align: top;
	text-align: left;
	padding: 20px 10px 20px 0;
	width: 200px;
	line-height: 20px;
	font-weight: 600;
	font-size: 14px;
}
.form-test > tbody > tr > td {
	margin-bottom: 9px;
	padding: 15px 10px;
	line-height: 20px;
}
.form-test small {
	width: 100%;
	float: none;
}
.form-test h3 {
	border-top-color: #ddd !important;
}
#form-test .failed {
	color: #dc3232;
}
#form-test .success {
	color: #46b450;
}
#form-test select {
	width: 227px;
}
#menu-posts-client,
a[href="options-general.php?page=client_settings"] {
	display: none !important;
}

@media (max-width: 782px) {
	.form-test > tbody > tr > td,
	.form-test > tbody > tr > th {
		display: block;
		width: auto;
	}
	.form-test > tbody > tr > th {
		padding: 10px 0 0 0;
	}
	.form-test > tbody > tr > td {
		padding: 4px 0 6px 0;
	}
	#form-test select {
		width: 100%;
	}
	#form-test .phone {
		display: inline-block;
		width: auto;
	}
	
}